body{
	background-image: url('../images/bg.jpg');
	  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}


@media screen and (max-width: 768px) {
    .nomalText
{
  font-family : Open Sans Condensed;
  font-weight : bold;
  font-size : 20px;
  color : #F9F9F9;
  color : rgb(249, 249, 249);

}

.headerText
{
  font-family : Open Sans Condensed;
  font-weight : bold;
  font-size : 80px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}

.margin1{
  margin-top:10px;
}

.margin3{
  margin-top:30px;
}

.margin8{
  margin-top:100px;
}

}

@media screen and (min-width: 768px) {
    .nomalText
{
  font-family : Open Sans Condensed;
  font-weight : bold;
  font-size : 25px;
  color : #F9F9F9;
  color : rgb(249, 249, 249);

}

.headerText
{
  font-family : Open Sans Condensed;
  font-weight : bold;
  font-size : 140px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}

.margin1{
  margin-top:10px;
}

.margin3{
  margin-top:30px;
}

.margin8{
  margin-top:150px;
}
}

